@model BookStore.Models.Status

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Status</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="ReadingStatus" class="control-label"></label>
    <select asp-for="ReadingStatus" class="form-control" >
        <option value="">-- Select --</option>
        <option value="Want to Read">Want to Read</option>
        <option value="Currently Reading">Currently Reading</option>
        <option value="Finished">Finished</option>
        <option value="Bad Book">Bad Book</option>
        
    </select>
    <span asp-validation-for="ReadingStatus" class="text-danger"></span>

    <input type="submit" value="Create" class="btn btn-primary" />

</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
