@model BookStore.Models.Status

@{
    ViewData["Title"] = "Details";
}

<h1>Details - @Html.DisplayFor(model => model.ReadingStatus)</h1>

<div>
    <hr />
    <div>

        <h2 class="col-sm-10">

        </h2>
    </div>
</div>

<div class="details">
    <h2>Books in this status:</h2>

    @if (Model.Books != null && Model.Books.Any())
    {
        <div>
            @foreach (var book in Model.Books)
            {
                <div class="book">
                    <h2>@book.Title</h2>
                    <!-- Stjärnbetyg -->
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (book.Rating.HasValue && i <= book.Rating.Value)
                        {
                            <span style="color: gold;">&#9733;</span> <!-- Gold star -->
                        }
                        else
                        {
                            <span style="color: lightgray;">&#9734;</span> <!-- Empty star -->
                        }
                    }
                </div>
            }

        </div>
    }
    else
    {
        <p>No books in this status.</p>
    }
</div>
<div class="details-actions">
    <a class="btn-back" asp-action="Index">Back to List</a>
    <a class="btn" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |

</div>
