@model BookStore.Models.Status

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Status</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div>
                <label asp-for="ReadingStatus" class="control-label"></label>
                <input asp-for="ReadingStatus" class="form-control" />
                <span asp-validation-for="ReadingStatus" class="text-danger"></span>
            </div>
            <div  class="details-actions">
                <a class="btn-back" asp-action="Index">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
