@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome</h1>
    <article>
        <h3>Entity Framework</h3>
        <p>This web applications is made as part of the course DT191G which focuses on web development for .NET.</p>
        <p>It is created with ASP.NET MVC course with help from Entity Framework and uses a SQLite database. The CRUD
            operations for both backend and frontend are scaffolded.</p>
    </article>
    <article>
        <h3>NuGet</h3>
        <p>It uses NuGet for package management and the following packages are used:</p>
        <ul>
            <li>Microsoft.EntityFrameworkCore.Sqlite</li>
            <li>Microsoft.EntityFrameworkCore.SqlServer</li>
            <li>Microsoft.EntityFrameworkCore.Tools</li>
            <li>Microsoft.EntityFrameworkCore.Design</li>
            <li>Microsoft.VisualStudio.Web.CodeGeneration.Design</li>
    </article>


</div>
