@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

main {
  min-height: 85dvh;
}

.homepage-box {
  text-align: center;
  padding: 2em;
  border: 1px solid black;
  width: 300px;
  margin: 2em auto;
  border-radius: 5px;
  background-color: #f8f9fa;
  line-height: 1.5em;
}

header {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding: 1em;
}

header nav ul li {
  margin: 0 1em;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
}
header nav ul li a:hover {
  color: beige;
}

h1 {
  text-align: center;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.7em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 140px;
  text-align: center;
}

.btn,
.btn a {
  color: white;
  text-decoration: none;
}

.btn-back {
  background-color: #dbdbdb;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.7em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 140px;
  text-align: center;
}

.btn-back, .btn-back a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.warning {
  color: red;
  text-align: center;
  font-weight: 400;
  margin: 2em;
}
.book-info {
  text-align: center;
  margin-top: 3em;
  line-height: 1.5;
  background-color: #f8f9fa;
  padding: 2em;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 2;
}
.book h1 {
  line-height: 1.5em;
  font-size: 1.2em;
  margin: 0.5em 0;
  height: 3em;
  text-transform: capitalize;
}
.book h2 {
  font-size: 1em;
  margin: 0.5em 0;
  height: 2em;
}

.book .description-heading {
  padding-top: 0.5em;
  text-transform: uppercase;
  font-size: 0.8em;
  border-bottom: 1px solid grey;
}

.book .description-text {
  min-height: 4em;
  border-bottom: 1px solid grey;
  padding-top: 0.5em;
  font-size: 0.8em;
}

.details {
  width: 300px;
  padding: 2em;
  margin: 4em auto;
  border: #007bff 1px solid;
}

.details-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.statuses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.status {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 98%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

form label {
  font-weight: bold;
  color: #313338;
  color: #313338;
}

form textarea {
  padding: 0.7em;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 2px;
}

form input,
select,
option {
  padding: 0.7em;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 2px;
}

form label,
div {
  margin-top: 1em;
}

form input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.7em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

footer {
  text-align: center;
  padding: 10px 0;
  bottom: 0;
}
